* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: rgb(245, 245, 245);
    /*overflow: hidden;*/
}

input[type='checkbox'] {
    visibility: hidden;
}

.dinner-picker__root {
    margin: 0 auto; 
    /* margin-top: 7em; */
    width: 50em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1em;
    color: #4d4d4d;
    font-weight: 300;
    
}

.dinner-picker__header {
    margin-top: 30px;
}

.dinner-picker__title {
    font-size: 60px;
    font-weight: bolder;
    text-align: center;
    color: #3FC060;
    margin: 0;
    padding: 0;
}

.dinner-picker__main {
    width: 100%;
    display:flex;
    justify-content:center;
    margin: 20px;
}
.dinner-picker__button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;/*(15,15,15)*/
  color: #ffffff;/*(255,255,255)*/
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.dinner-picker__button:hover {background-color: #3e8e41}

.dinner-picker__button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.dinner-picker__selector{
    margin: 20px;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
}

.dinner-picker__choice{
    color: #AAAAAA;
    
}

.dinner-picker__restaurant{
 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.dinner-picker__restaurant-category{
    margin: 0px;
    margin-top:20px;
    font-size: 30px;
}
.dinner-picker__restaurant-name{
    margin: 0px;
    font-size: 60px;
    
}


.dinner-picker__restaurant img{
    
    width: 600px;
    height: 300px;
    
}

.dinner-picker__food-wrapper{
    
    display: flex;
    align-items: center;
    justify-content: center;  
}

.dinner-picker__food,.dinner-picker__map,.dinner-picker__comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.dinner-picker__food img{
    width: 200px;
    height: 200px;  
}

.dinner-picker__food p{
    font-size: 16px;
     
}

.dinner-picker__comment a{
    margin: 20px;
    font-size: 30px;
    font-weight: bold;
    
}
.dinner-picker__comment a:link{
    color: cornflowerblue;
    
}
.dinner-picker__comment a:hover{
    color: aqua;
    
}
.dinner-picker__comment a:visited{
    color: hotpink;
    
}